body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    margin-left: 37%;
}

#img-banner{
    width: 470px;
    height: 450px;
    border-radius: 15px;
    border-color:black;
    border-style: solid;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 3%;
}

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: black(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-container {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"], input[type="tel"], input[type="email"], button{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.quiz-container {
    margin: 0 auto;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
